        * {
            font-family: "Quicksand", Arial, sans-serif;
            color: white;
            font-size: 20px;
        }

        body {
            background-color: rgb(30, 30, 30);
        }

        .logo_img {
            width: 50px;
            margin-top: 20px;
            margin-left: 20px;
            cursor: pointer;
        }

        .exercises {
            margin: 100px 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 10px;
            column-gap: 10px;
        }

        .exercise {
            width: calc(33.33% - 20px);
            height: 250px;

            position: relative;
            transition: transform 0.5s ease-in-out
        }

        .exercise.floating {
            animation: shake 2s infinite;

        }

        @keyframes shake {
            0% {
                transform: translate(-2px, 2px);
            }

            50% {
                transform: translate(2px, -2px);
            }

            100% {
                transform: translate(-2px, 2px);
            }
        }


        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: transform 0.2s;
            z-index: 1;
        }

        .image:hover {
            transform: scale(107%);
            box-shadow: 0 0 10px rgb(0, 0, 0);
            z-index: 2;
        }

        .name {
            padding-top: 50px;
            font-size: 30px;
            text-align: center;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.85);
            top: 25%;
            width: 100%;
            bottom: -30px;
            opacity: 0;
            z-index: 3;
            transition: opacity 0.2s;
        }

        .name:hover {
            opacity: 1;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: -20px;

        }

        .refresh {
            background-color: rgb(30, 30, 30);
            font-family: Roboto Mono, Arial;
            border-style: solid;
            padding: 10px 15px;
            border-radius: 7px;
            border-width: 0px;
            border-color: white;
            transition: padding 0.3s, border-radius 0.3s;
        }

        .refresh:hover {
            padding: 15px 23px;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .refresh:active {
            background-color: #000;
            transform: scale(0.9);
        }

        .start {
            margin-top: 100px;
            border-style: none;
            margin-bottom: 100px;
            background-color: white;
            color: rgb(30, 30, 30);
            font-family: "quicksand";
            font-size: 30px;
            font-weight: bold;
            color: black;
            border-radius: 15px;
            padding: 15px 20px;
            transition: padding 0.3s;
        }

        .start:hover {
            padding: 18px 35px;
            box-shadow: 0 0 15px black;
        }
